form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 1rem;
}

select {
  margin: 0 1rem;
  padding: 10px;
}

button {
  margin: 1rem;
}

.box {
  border: 1px solid black;
}

.stats {
  margin-top: 2rem;
}
